*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color:#F0F3F2;
  
    padding: 15px;
  
}
.heading-1{
    color:black;
    font-size: 36px;
    margin-bottom: 10px;
}
.heading-2{
    color:grey;
    font-size: 18px;
    margin-bottom: 15px;
}
.logo{
    width: 100px;
    height: 100px;
    float: right;
    margin-top: -80px;
    margin-right: 30px;
}   
.p-1{
    display: inline-block;
    padding: 15px;
}
.sort-dropdown{
    padding: 5px;
    width: 120px;
    border-radius: 5px;
    float: right;
    margin-right: 50px;
    margin-top: 15px;
}
.dropdown{
    padding: 5px;
    width: 50px;
    border-radius: 5px;
    float: right;
    margin-right: 50px;
    margin-top: 15px;
}
.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 20px;
}
.checked {
  color: orange;
}   

.box{
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 380px;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}   
.desc{
    font-size: 14px;
    color: grey;
    margin-bottom: 5px;
}
.product-image{
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}
.product-name{
    font-size: 18px;
    margin-bottom: 5px;
}
.product-weight{
    color: grey;
    margin-bottom: 10px;
}
.product-price{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.add-to-cart-btn{
    padding: 10px 15px;
    background-color: #185c27;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}